.add-bag {
  width: 90%;
  align-items: center;
}
.card-delete {
  color: var(--color-primary);
  font-weight: 700;
  position: absolute;
  display: inline-block;
  padding: 0.3rem 0.6rem;
  font-size: 1.2rem;
  right: 2%;
  top: 2%;
  cursor: pointer;
}
.wish-card-img {
  max-height: 32vh;
  max-width: 100%;
  object-fit: cover;
}
.wish-card {
  max-width: 30vw;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  box-shadow: 5px 5px 5px 5px var(--color-hover-light-grey);
}
