.single-product-page {
  width: 100%;
  margin: 0;
  padding: 0;
}
.main-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.image-container {
  max-width: 450px;
  max-height: 350px;
}
.image {
  height: 350px;
  width: 450px;
  object-fit: contain;
}
.content-container{
    max-width: 450px;
    
}
.product-desc{
    border-bottom: 1px solid var(--color-border);
    padding: 10px;
    margin-bottom: 1rem;
}
.product-title{
    font-size: 2rem;
    font-weight: 600;
}
.product-brand{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-gray);
}
.product-rating{
    border: 1px solid var(--color-primary);
    padding: 7px 15px;
    display: inline-flex;
    margin: 10px 0;
}
.fa-star{
    color: var(--color-primary);
    padding: 1px;

}
.fa-heart-o{
    color: var(--color-primary);
}
.price-container{
    display:flex;
    gap: 8px;
    font-size: 1.5rem;
    
}
.price-before{
text-decoration:line-through ;
color: var(--color-gray);
}
.discount-price{
    color: var(--color-primary);
}
.product-btn{
    display: flex;
    gap: 8px;
    margin: 1rem 0;
}