.hero-section{
    padding: 1rem 1rem;
    
         
}
.img-container{
    position: relative;
    
}
.hero-img{
    height:35rem;
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.content{
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: lato,serif;
    align-items: center;
    position: absolute;
    left: 3%;
    bottom: 35%;
    z-index: 1;
}
.content .sub-heading{
    color: var(--orange);
    margin-bottom: 3rem;
    font-weight: 800;
    letter-spacing: 1px;
}
.content h2{
    color: var(--grey);
    margin-bottom: 1rem;
    font-family: Roboto slab,serif;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1px;
}
.content h3{
    color: var(--grey);
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.default-outline{
    background-color: var(--color-primary);
    color: var(--white);
    border: none;
}
.default-outline:hover{
    opacity: 0.8;
    color: white;
    background-color: var(--color-primary);
}
.hero-section .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: 0.5s ease;
    background: rgb(0,0,0,0.3);
}