.card-horizontal{
    max-width:600px ;
    box-shadow: none;
    border: 1px solid var(--color-border);
}
.card-title{
    margin-top: 1rem;
}
.qty label{
    display: flex;
    flex-direction: column;
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
    margin: 0.5rem;
}
.qty input{
    border: 2px solid var(--color-primary);
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0 0.5rem;
}
.minus,.add,.qty-count{
    width: 2rem;
    height: 2rem;
    padding: 2px;
    font-size: 1.2rem;
    border-radius: 90%;
    font-weight: 400;
    color: var(--black);
    background-color: var(--color-border);
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.horizontal-btn .buy-now{
    margin-right: 0.5rem; 
}
.horizontal-img{
    width: 150px;
    object-fit: fill;
}
