.nav{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-navbar);
    z-index: 9;
}
.nav-main{
   padding: 10px 10vw;
   display: flex;
   justify-content: space-evenly;
} 
.logo-link{
   display: flex;
}

.logo-img{
   height:50px;
   width: 50px;
}
.nav-header{
   font-size: 1.5rem;
   font-family: Roboto slab,serif;
   margin: 1rem 1rem;
   color: var(--dark-grey);
}

.nav-items {
   display: flex;
   align-items: center;
}
.nav-search{
   display: flex;
   max-width: 500px;
   margin: 1rem 1rem;
}
.search-box{
   width: 80%;
   height: 40px;
   padding: 10px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   border: 1px solid var(--color-border);
   text-transform: capitalize;
   background: none;
   color: var(--color-search);
   outline: none;

}
.search-btn{
   width: 20%;
   height: 40px;
   padding: 10px 20px;
   border: none;
   outline: none;
   cursor: pointer;
   background: var(--color-black-);
   color: var(--white);
   text-transform: capitalize;
   font-size: 15px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}
.search-box::placeholder{
   color: var(--color-search);
}
.icon{
   font-size: 1.5rem;
   margin: 1rem 1rem;
}
.sign-in{
   font-size: 1.5rem;
   font-weight: 900;
   margin: 1rem 1rem;
}
.notification-icon{
   background-color: var(--orange);
   color: var(--black);
   top: -9px;
   font-size: 0.9rem;
   height: 1.2rem;
   padding: 0.4rem;
   }
.links-container{
   width: 100%;
   display: flex;
   position: relative;
   padding: 10px 10vw;
   justify-content: center;
   list-style: none;
   overflow: auto;
   scrollbar-width: none;
   border-top: 1px solid var(--color-border);
}
   
.link{
   text-transform: capitalize;
   padding: 0 10px;
   margin: 0 5px;
   text-decoration: none;
   color: var(--color-black-);
   opacity: 0.5;
   transition: .5s;
}
   
.link:hover{
   color: var(--orange);
   opacity: 1;
}
@media screen and (max-width: 800px){
   .nav-logo h1{
      display: none;
   }
}
@media screen and (max-width: 600px){
   
   .nav-search{
      order:2;
      margin: 0;

   }
  img{
   align-self: flex-start;
  }
   .nav-main{
      flex-wrap: wrap;
   }
}